@import "tailwindcss";

:root {
  --header-height: 5rem;

  --background: #ffffff;
  --foreground: #000000;

  --muted: #e0e0e0;
  --muted-foreground: #7a7a7a;
}

[data-theme="dark"] {
  --background: #000000;
  --foreground: #ffffff;

  --muted: #28282d;
  --muted-foreground: #b3b3b3;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 1rem;
  font-family: var(--font-inter), sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
